<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="sistema.DAL.Properties.Settings.db_sistemaConnectionString"
            connectionString="Data Source=TIAGO-TN;Initial Catalog=db_sistema;Persist Security Info=True;User ID=sa;Password=307560"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>